{% extends "mobile/base.html" %}
{% block title %}{{user.firstname}} {{user.lastname}}{% endblock %}
{% block head %}
{{ super() }}

<script>
$(document).ready(function(){
    console.log("pass: " + $('#passed-in').text() + "     session: " + $('#session').text())
    if ($('#passed-in').text() ===  $('#session').text()) {
        $('.own-sched').show();
    }
});
</script>


<style type="text/css">
    form {
        color: #111;
        text-align: center;  
    }

    input {
        margin: 5px;
    }

    h1 {
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }

    #content {
        background-color: #222;
        width: 90%;
        height: 100%;
        border-style: solid;
        border-width: 3px;
        border-color: #222;
        border-radius: 15px;
        box-shadow: 5px 5px #111;
        max-height: 800px;
    }
    
    #schedule {
        font-size: 12px;
        margin-left: 10px;
        max-height: 700px;
        overflow-y: scroll;
    }
    
    a:hover {
        color: #eef;
        text-decoration: none;
    }
    
    .class-deets {
        margin-left: 5%;
    }
    
    .user-class {
        margin-left: 10%;
    }
    
    
</style>


<script>
    //removes the N/A from class titles
$(document).ready(function(){   
    var i;
        for (i = 0; i < $('.dif').length; ++i) {
            console.log($('.dif')[i].innerText);
            if ($('.dif')[i].innerText === "N/A") {
                
                $('.dif')[i].style.display = 'none'
            }
        }
});    
</script>

{% endblock %}
{% block content %}
<h1> {{user.firstname}}&nbsp;{{user.lastname}}</h1>
<h4 class="own-sched" style="display: none;"> <a href="/edit/"> edit your schedule </a> </h4>
<div id="schedule">
 {% for i in combined %}
  P{{i[0].period}}<span class="class-deets"> {{i[0].teacher}} - <span class="dif">{{i[0].dif}}</span> {{i[0].classname}}</span>
  {% for j in i[1] %}
  <div class="user-class">
  <a href="/user/{{j.id}}">&nbsp;&nbsp;{{j.firstname}}&nbsp;{{j.lastname}}</a>
  </div>
 {% endfor %}
  <br>
 {% endfor %}
</div>
<span id='passed-in' class='hidden'>{{user.id}}</span>
<span id='session' class='hidden'>{{session["user_id"]}}</span>
{% endblock %}