{% extends "base.html" %}
{% block title %}Edit Schedule{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        form {
            color: #111;
            text-align: center;  
        }
        
        input {
            margin: 5px;
        }
        
        h1 {
            text-align: center;
        }
        
        #content {
            background-color: #222;
                width: 40%;
                height: 100%;
                border-style: solid;
                border-width: 3px;
                border-color: #222;
                border-radius: 15px;
                box-shadow: 5px 5px #111;
                max-height: 800px;
            }
    </style>
{% endblock %}
{% block content %}
<h1> Edit Schedule </h1>
    
{% endblock %}