{% extends "base.html" %}
{% block title %}Not Found{% endblock %}
{% block head %}
{{ super() }}
<script>
function goBack() {
    window.history.back()
}


$(document).ready(function(){
    console.log("pass: " + $('#passed-in').text() + "     session: " + $('#session').text())
    if ($('#passed-in').text() ===  $('#session').text()) {
        $('.own-sched').show();
    }
});
    
</script>
<style type="text/css">
    form {
        color: #111;
        text-align: center;  
    }

    input {
        margin: 5px;
    }

    h1 {
        text-align: center;
    }

    #content {
        background-color: #222;
        width: 40%;
        height: 100%;
        border-style: solid;
        border-width: 3px;
        border-color: #222;
        border-radius: 15px;
        box-shadow: 5px 5px #111;
        max-height: 800px;
    }
    p {
        text-align: center;
    }
    
    button {
        color: #222;
    }
    
    .hidden {
        display: block;
    }
    
    .own-sched {
        display: none;
        text-align: center;
        color: #ddd;
        text-decoration: none;
    }

    .own-sched :hover {
        text-align: center;
        color: #eef;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block content %}
<h1> Schedule not found </h1>
    <span id='passed-in' class='hidden'>{{user_id}}</span>
    <span id='session' class='hidden'>{{session["user_id"]}}</span>
    <p>
        Sorry, this user hasn't set up their schedule yet. <br><br>
        <button onclick="goBack()">Go Back</button>
    </p>
    
    <div class="own-sched"> <a href="/edit/"> Edit your schedule </a> </div>
    
{% endblock %}